
.feature {
  gap: 0;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 300px;
  align-items: flex-start;
  flex-direction: column;
}
.heading {
  gap: 0.6em;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.icon {
  height: 22px;
  object-fit: cover;
}
.header {
  color: #ffffff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.description {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: Karla;
  line-height: 27px;
  margin-top: 0.2em;
}
@media(max-width: 767px) {
  .feature {
    max-width: 100%;
  }
}
